#header-box {
    background-color: #4A4c5b;
    height: 100px;
    padding-top: 23px;
    margin-bottom: 20px;
}

#header-text {
    text-align: center;
    color: white;
}

#current-weather-card {
    height: 300px;
    margin-bottom: 15px;
}

.card-body {
    min-height: 150px;
}

h3 {
    margin-bottom: 15px;
    margin-left: 15px;
}